<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-justify">
                <div class="text-center">
                    <img src="img/profile.jpeg" class="user-image-large text-center">
                </div>
                <hr class="fade">


                <hr class="light">
                <p >
                    Pepar has a Bachelors of Science with Distinctions in Economics and Physics. He started his career as
                    a Business Metrics Analyst at SaskTel, a regional telecommunications company, in their call center reporting group in February 2014. In this role he learnt how to
                    use SQL, Excel and Python to tackle queue and agent productivity reporting. He evolved the yearly agent review
                    report into a monthly coaching document to track and manage 400+ agents to call center budgets for call, sale
                    and call quality KPIs. This report integrated 5 data sources into a an Excel report that used drop-down lists, pivot tables
                    and VBA for 10 managers to conveniently scroll through their agents and saved them a total of 200 hours per month of
                    manually compiling their agents statistics.
                </p>
                <p >
                    In July 2015, Pepar transitioned into a call center forecasting role at SaskTel as a Business Metrics Analyst using SQL and R.
                    He was responsible for forecasting shrinkages, calls offered within 15 minute intervals and 15 minute interval handle times
                    for SaskTel's service queue. He developed an automated process to generate shrinkage, call volume and AHT forecasts and load them into their scheduling system.
                    During this time he reconfigure their workforce management and scheduling tool with a new routing scenario for
                    the service queue and provided detailed analysis on high handle time agents with a corrective strategy.
                </p>
                <p >
                    In October 2016, Pepar moved the Marketing Department at SaskTel as their first Business Metrics Analyst.
                    He was responsible for budgeting, financial forecasting, financial variance analysis and estimating promotional take rates for marketing campaigns
                    for SaskTel's internet lines of business.
                    He was able to automate the monthly financial forecast process by using SQL and Python to forecast activations, deactivations,
                    and average revenues per unit. He had the opportunity to provide bad debt analysis on an external sales channel that had
                    lower new customer credit policies. He identified a group of new customers through the external sales channel where 80% of billed
                    revenues were going to bad debt. After this was discovered, a new contract was signed with the external sales channel so they would
                    adhere to the same credit policies as internal sales channels. The bad debt analysis was presented by Pepar at a quarterly
                    analyst meeting for all analyst departments to attend.
                </p>
                <p >
                    When Pepar started his role in SaskTel's Marketing Department, he applied to be mentored by a senior SaskTel manager.
                    He was paired with a Senior Business Planner incharge of setting up SaskTel's Business Intelligence capabilities.
                    The two of them collaborated together to propose Microsoft SQL Server and PowerBI as standard tools for analysts to use across the
                    company since they could be included in existing service agreements between SaskTel and Microsoft. Pepar also completed the paper work and lab tests
                    to have Python approved as a corporate toll for all analysts to use.
                </p>
                <p >
                    In December 2016, Pepar was one the first students to take Udacity's Self-Driving Car Engineer Nanodegree.
                    This significantly supported his career by teaching him how machine learning and deep learning can be used
                    in production systems. It allowed him to learn how to use docker to deploy solutions locally that also have the ability to scale
                    horizontally for production systems. It also gave him exposure to pub/sub and request/response architectures
                    for modern systems and micro-services to deploy data science solutions.
                </p>
                <p >
                    Next Pepar moved in to a Sales Support Manager – Sales Compensation & Analytics role at SaskTel. In this position he was able to
                    develop a solution to reduce quarterly sales inquires from 100 hours of work to 35 hours by integrating
                    sales, employee and inquiry information into a single review form. Inquiry decisions were then batch uploaded
                    to their online sales vendor's portal. He also provided detailed analysis to the executive team highlighting
                    an issue with the existing sales compensation plan where sales representatives could achieve maximum compensation
                    without growing renevue and gross margin for the SaskTel.
                </p>
                <p >
                    In August 2018, Pepar started as an Information Analyst at eHealth Saskatchewan a crown corporation responsible for provincial health information
                    technology and data. He was part of the Data Science team
                    for a proof of concept project with Microsoft and the Saskatchewan Center for Patient Oriented Research (SCPOR) to develop a data lake that
                    would meet requirements for up $12 million in federal funding for a healthcare research data warehouse. Pepar worked with a Data Architect and
                    the Microsoft team to develop and deploy a proof of concept solution for data storage, processing, analysis, machine learning, deep learning and reporting.
                    He deployed Data Lake, Databricks, Virtual Data Science Desktops and SQL servers Azure cloud resouces. Pepar proposed and developed
                    a deep learning solution using Kaggle’s Intel & MobileODT Cervical Cancer Screening using Keras and Tensorflow in Databricks. The
                    deep learning model was to predict if a patient needed additional pre-cancer screening based on an image of patient's cervix.
                    The final model achieved 86% accuracy, 92% recall and 83% precision on the test set. Pepar presented these results
                    to the Saskatchewan Cancer Agency, Saskatchewan Health Quality Council and Saskatchewan Health Authority to show what is
                    possible using health data and machine learning.
                </p>
                <p >
                    Pepar then transitioned into a remote Senior Data Analyst position for Mapillary, an open source street-level imagery platform.
                    There he worked with an international team via Zoom and Slack. He was working with the VP of Product to analyze OpenStreetMap
                    map edits from commercial editing teams to drive Mapilary's computer vision map features development and how
                    Mapillary can use OpenStreetMap to increase user engagement. He completed an OpenStreetMap Loop Closure
                    experiment where he notified Mapillary users through email that their images were used to make a map update.
                    A sample of Mapillary users were split into a treatment group of 323 and a control group of 1,212 to compare
                    what impact the email had on platform/app opened, map exploring, image captured and image uploaded events.
                    The experiment showed a statistically significant positive change in platform opened, map exploring and
                    image capture events. The recommendation was to rerun the experiment to see if similar results were observed
                    and to investigate why more images were captured in the treatment group, but not uploaded to the platform.
                </p>
                <div class="text-center">
                    <hr class="fade">
                    <a href="#contact" class="btn btn-default btn-xl" >Contact</a>
                </div>
            </div>
        </div>
    </div>
</section>
