<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
{% include post/nav.html %}
{% include post/blog.html %}
<section class="bg-light" id="post">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading text-center">{{ page.title }}</h2>
                <hr class="bg-primary">
                <div class="text-justify">{{ page.content }}</div>
            </div>
        </div>
    </div>
</section>
{% include blog/similar-blogs.html %}
{% include categories.html %}
{% include aside.html %}
{% include contact.html %}
{% include scripts.html %}
</body>

</html>